.espacio{
    margin: 30px;
}

.boost{
    padding: 10px;
    background-color: rgb(215, 212, 220);
}

body{
    background-color: darkgrey;
}

.DIVino{
    padding: 5px;
    background-color: floralwhite;
}

.IMGina{
    padding: 10px;
}

.font { 
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}